/* A simple stylesheet */

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16pt;
	background-color: cyan;
}

/*
	Below:
	h1 {...} lines 14 to 18 is one CSS rule;
	h1 => selector
	Line 18: "font-size: 96px;" => one declaration
	One declaration => key-value (or attribute-value) pair separated by colon
*/

h1 {
	text-align: center;
	font-size: 96px;
	color: #cc33ff;
}

body {
	font-size: 8px;
	font-family: Helvetica;
	background-color: #996633;
}

body {
	color: white;
	font-size: 32px;
}

#header {
	background-color: green;
	border-style: dotted;
	margin-left: 20%;
	margin-right: 20%;
}

.peeps {
	background-color:yellow;
	font-size: 48px;
	color: black;
}

#start {
	font-size: 40px;
}

p.peeps {
	font-size: 10px;
}